---
import { getEntry } from "astro:content";

import Card from "@components/card.astro"
import ClientLoadingItemCard from "./clientLoadingItemCard.svelte"

export interface Props {
    "identifier": string;
}

const { identifier } = Astro.props;
const record = await getEntry('item', identifier);
const link = `/item/${identifier}`

const tags = record.data.tags.map((t)=>{
  return `<span class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 mr-2">${t}</span>`;
})

---
<a href={link}>
<Card>
    <ClientLoadingItemCard record={record} client:only="svelte" />
    <div class="p-2" set:html={tags}>
</Card>
</a>

