---
import Card from "@components/card.astro"
import { getEntry } from "astro:content";
import ItemThumbnail from "@components/itemthumbnail.astro"
const { itemId } = Astro.props;

const record = await getEntry('item', itemId);
const link = `/item/${itemId}`

const tags = record.data.tags.map((t)=>{
  return `<span class="inline-flex items-center rounded-md bg-gray-100 px-2 py-1 text-xs font-medium text-gray-600 mr-2">${t}</span>`;
})

---
<a href={link}>
<Card>
  <ItemThumbnail id={itemId} />
  <div class="p-2" set:html={tags}>
  </div>
</Card>
</a>